{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Worth Your Weight in Gold!</title>
		<link rel="stylesheet" href="{% static 'gold/style.css' %}">
		<meta charset="utf-8"/>
	</head>
	<body onload="fetch_goldPrice()">
		<div id="GoldBox" class="shadowed gold nice-box">
			<h2 class="center">Your Weight in Gold!</h2>
			<p class="center">Enter your weight (lbs.) to find your worth!</p>
				<br>
                <div class="center">
					<input id='inpWeight' type="text" name="inweight"> <br>
					<button type="button" onclick="calculate_gold()">Calculate!</button>
                </div>
	   </div>
	   <hr/>
	   <script src="{% static 'gold/quandl.js' %}"></script>

	</body>
</html>
